body {
    padding: 0px;
    font-family: poppins;
    margin: 0px;
}

.top-header{
    margin: 0px;
    padding: 10px;
    max-height: 30px;
    background-color: teal;
}

.top_header-container{
    max-width: 1000px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.top_header-left{
    display: flex;
    justify-content: space-between;
}

.date{
    margin: 0px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
}

.date img{
    width: 15px;
    padding-right: 15px;
    padding-top: 1px;
}

.date-text{
    border-right: 1px solid white;
    padding-right: 15px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
}

.menu-items{
    margin: 0px;
    padding: 0px;
}

.menu-items ul{
    display: inline;
    margin: 0px;
    padding: 0px;
}

.menu-items ul li{
    display: inline;
    color: white;
    padding-right: 15px;
    font-weight: 300;
    font-size: 14px;
}

.top-header-right{
    padding: 0px;
    margin: 0px;
}

.top-header-right img{
    width: 15px;
    padding-right: 10px;
    margin: 0px;
}






.advertisement{
    max-width: 1000px;
    margin: auto;
    padding: 0px;
}

.ad-container{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0px;
}

.logo{
    margin: 0px;
    padding: 0px;
}

.logo img{
    width: 250px;
    padding: 0px;
    margin: 10px 0px;
}

.ad-section{
    display: flex;
    justify-content: space-between;
    width: 450px;
    background: url(../Images/background.jpg);
    align-items: center;
}

.text{
    /* align-items: center; */
    padding: 20px;
    margin: 0px;
}

.text h1{
    color: white;
    margin: 0px;
    padding-left: 5px;
    font-size: 2em;
}

.text p{
    color: white;
    font-size: .8em;
    margin: 0px;
    padding-left: 5px;
}

.ad-cta{
    padding: 0px;
    margin-right: 20px ;
}

.ad-cta a{
    background-color: white;
    border-radius: 0px;
    padding: 10px;
    margin-right: 20px ;
    color: teal;
    text-decoration: none;
    font-weight: bold;
}


.ad-cta a:hover{
    color: white;
    border: 2px solid white;
    cursor: pointer;
    background-color: transparent;
}

.main-header{
    margin: 0px;
    padding: 10px;
    max-height: 30px;
    background-color: teal;
}

.main-header-container{
    max-width: 1000px;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header-left{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.home-button img{
    width: 20px;
    padding: 02px 20px 0px 0px;

}

.main-header-left ul{
    color: white;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

.main-header-left ul li{
    font-size: 14px;
    display: inline;
    border-right: 1px solid #ffffff;
    padding: 0px 20px 0px 5px;
    margin: 0px;
}

.main-header-left ul li img{
    width: 20px;
    align-self: center;
}

.main-header-right{
    padding: 0px;
    margin: 0px;
    display: block;
}

.main-header-right img{
    width: 20px;
    display: block;
}

.input-area{
    max-width: 1000px;
    margin: auto;
    padding: 0px;
    align-items: center;
}

.input-bar{
    width: 100%;
    padding: 0px;
    margin: 30px 0px;
    display: flex;
    min-height: 30px;
}

.breaking-news{
    margin: 12px 0px 0px 0px;
    padding: 0px;
}

.breaking-news a{
    background-color: #222222;
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 0px;
    outline: none;
}

.breaking-news a:hover{
    border: 1px solid #222222;
    color: #222222;
    background-color: transparent;
    border-radius: 0px;
    outline: none;
}

.input{
    display: flex;
    justify-content: space-between;
    border: 1px solid #222222;
    padding: 5px;
    align-items: center;
    width: 845px;
    margin-top: 1px;
    
}

.content{
    display: flex;
    justify-content: space-between;
}

.content a{
    background-color: #008080;
    color: white;
    text-decoration: none;
    margin: 0px 10px 0px 0px;
    padding: 5px 10px;

}

.content a:hover{
    cursor: pointer;
    background-color: transparent;
    color: teal;
    border: 1px solid teal;
}

.input p{
    padding: 05px 10px;
    margin: 0px;
}

.arrows{
    display: flex;
}

.arrows img{
    width: 20px;
    padding: 0px 10px 0px 0px;
    margin: 0px;
}


.main-section{
    display: flex;
    max-width: 1000px;
    margin: auto;
    width: 100%;
}

.left-section{
    /* width: 40%; */
    max-height: 190px;
    background: linear-gradient(transparent, transparent, rgb(65, 65, 65)), url(../Images/gadget.jpg);
    background-size: cover;
    padding: 20px;
    object-fit: none;
    padding-top: 267px;
    margin: 5px 5px 5px 0px;
}

.buttons{
    padding: 0px;
    margin: 0px;
    display: flex;
    padding-bottom: 10px;
}

.green a{
    background-color: teal;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
}

.green a:hover{
    background-color: transparent;
    border: 2px solid teal;
    color: white;
    transition: .5s ease-in-out;
    outline: none;
}

.red a{
    background-color: #d11919;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.red a:hover{
    transition: .5s ease-in-out;
    background-color: transparent;
    border: 2px solid #d11919;
}

.left-details{
    padding: 0px;
    margin: 0px;
}

.left-details p{
    font-size: 1.1em;
    color: white;
    font-weight: bold;
    margin: 5px 0px;
}

.left-sub{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.left-calendar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.left-calendar img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.left-calendar p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 10px;
    padding: 0px;

}

.left-admin{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.left-admin img{
    width: 20px;
}

.left-admin p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 10px;
}


.right-section-container{
    margin: 0px;
    padding: 0px;
    display: block;
    max-height: 75px;
}

.top-section-container{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.top-left-section-container{
    margin: 0px;
    padding: 0px;
}

.top-left-section{
    margin: 5px;
    background: linear-gradient(transparent, transparent, transparent, rgb(65, 65, 65)), url(../Images/music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 75px; */
    padding: 100px 10px 10px 10px;

}

.top-left-section-button{
    padding: 0px;
    margin: 0px;
}

.top-left-section-button a{
        background-color: orange;
        padding: 10px 15px ;
        color: white;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
        /* margin-left: 10px; */
}

.top-left-section-button a:hover{
    border: 2px solid orange;
    color: white;
    background-color: transparent;
}

.top-left-section-details{
    padding: 0px;
    margin: 0px;
}

.top-left-section-details p{
    font-size: 1em;
    color: white;
    font-weight: bold;
    margin: 10px 0px 3px 0px;
}

.category-footer{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-calendar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.footer-calendar img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-calendar p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.footer-admin{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.footer-admin img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-admin p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.top-right-section-container{
    margin: 5px;
    padding: 0px;
}

.top-right-section{
    /* margin: 5px; */
    background: linear-gradient(transparent, transparent, transparent, rgb(65, 65, 65)), url(../Images/fashion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 100px; */
    padding: 100px 10px 10px 10px;
}

.top-right-section-button{
    padding: 0px;
    margin: 0px;
}

.top-right-section-button a{
    background-color: rgb(255, 0, 128);
    padding: 10px 15px ;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    /* margin-left: 10px; */
}

.top-right-section-button a:hover{
    border: 2px solid rgb(255, 0, 128);
    color: white;
    background-color: transparent;
    transition: .5s ease-in-out;
}

.top-right-section-details{
    padding: 0px;
    margin: 0px;
}

.top-right-section-details p{
    font-size: 1em;
    color: white;
    font-weight: bold;
    margin: 10px 0px 3px 0px;
}

.category-footer{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-calendar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.footer-calendar img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-calendar p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.footer-admin{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.footer-admin img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-admin p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.right-section-container{
    margin: 0px;
    padding: 0px;
    display: block;
    max-height: 75px;
}

.top-section-container{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.top-left-section-container{
    margin: 0px;
    padding: 0px;
}

.top-left-section{
    margin: 5px;
    background: linear-gradient(transparent, transparent, rgb(65, 65, 65)), url(../Images/music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 75px; */
    padding: 100px 10px 10px 10px;

}

.top-left-section-button{
    padding: 0px;
    margin: 0px;
}

.top-left-section-button a{
        background-color: orange;
        padding: 10px 15px ;
        color: white;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
        /* margin-left: 10px; */
}

.top-left-section-button a:hover{
    border: 2px solid orange;
    color: white;
    background-color: transparent;
    transition: .5s ease-in-out;

}

.top-left-section-details{
    padding: 0px;
    margin: 0px;
}

.top-left-section-details p{
    font-size: 1em;
    color: white;
    font-weight: bold;
    margin: 10px 0px 3px 0px;
}

.category-footer{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-calendar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.footer-calendar img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-calendar p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.footer-admin{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.footer-admin img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-admin p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}


.right-section-container{
    margin: 0px;
    padding: 0px;
    display: block;
    max-height: 75px;
}

.top-section-container{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.top-left-section-container{
    margin: 0px;
    padding: 0px;
}

.top-left-section{
    margin: 5px;
    background: linear-gradient(transparent, transparent, rgb(65, 65, 65)), url(../Images/music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 75px; */
    padding: 100px 10px 10px 10px;

}

.top-left-section-button{
    padding: 0px;
    margin: 0px;
}

.top-left-section-button a{
        background-color: orange;
        padding: 10px 15px ;
        color: white;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
        /* margin-left: 10px; */
}

.top-left-section-button a:hover{
    border: 2px solid orange;
    color: white;
    background-color: transparent;
    transition: .5s ease-in-out;

}

.top-left-section-details{
    padding: 0px;
    margin: 0px;
}

.top-left-section-details p{
    font-size: 1em;
    color: white;
    font-weight: bold;
    margin: 10px 0px 3px 0px;
}

.category-footer{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-calendar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.footer-calendar img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-calendar p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.footer-admin{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.footer-admin img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-admin p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.top-right-section-container{
    margin: 5px;
    padding: 0px;
}

.top-right-section{
    /* margin: 5px; */
    background: linear-gradient(transparent, transparent, rgb(65, 65, 65)), url(../Images/fashion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 100px; */
    padding: 100px 10px 10px 10px;
}

.top-right-section-button{
    padding: 0px;
    margin: 0px;
}

.top-right-section-button a{
    background-color: rgb(255, 0, 128);
    padding: 10px 15px ;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    /* margin-left: 10px; */
}

.top-right-section-button a:hover{
    border: 2px solid rgb(255, 0, 128);
    color: white;
    background-color: transparent;
    transition: .5s ease-in-out;

}

.top-right-section-details{
    padding: 0px;
    margin: 0px;
}

.top-right-section-details p{
    font-size: 1em;
    color: white;
    font-weight: bold;
    margin: 10px 0px 3px 0px;
}

.category-footer{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-calendar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.footer-calendar img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-calendar p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.footer-admin{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.footer-admin img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-admin p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}




.bottom-section-container{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.bottom-left-section-container{
    margin: 0px;
    padding: 0px;
}

.bottom-left-section{
    margin: 5px;
    background: linear-gradient(transparent, transparent, rgb(65, 65, 65)), url(../Images/lifestyle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 75px; */
    padding: 100px 10px 10px 10px;

}

.bottom-left-section-button{
    padding: 0px;
    margin: 0px;
}

.bottom-left-section-button a{
        background-color: rgb(255, 217, 0);
        padding: 10px 15px ;
        color: white;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
        /* margin-left: 10px; */
}

.bottom-left-section-button a:hover{
    border: 2px solid rgb(255, 217, 0);
    color: white;
    background-color: transparent;
    transition: .5s ease-in-out;

}

.bottom-left-section-details{
    padding: 0px;
    margin: 0px;
}

.bottom-left-section-details p{
    font-size: 1em;
    color: white;
    font-weight: bold;
    margin: 10px 0px 3px 0px;
}

.category-footer{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-calendar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.footer-calendar img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-calendar p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.footer-admin{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.footer-admin img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-admin p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.bottom-right-section-container{
    margin: 5px;
    padding: 0px;
    /* position: relative; */
}

.bottom-right-section{
    /* margin: 5px; */
    background: linear-gradient(transparent, transparent, #414141), url(../Images/travel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 100px; */
    padding: 100px 10px 10px 10px;
    /* position: absolute; */
}

.bottom-right-section-button{
    padding: 0px;
    margin: 0px;
}

.bottom-right-section-button a{
    background-color: #a200ff;
    padding: 10px 15px ;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    /* margin-left: 10px; */
}

.bottom-right-section-button a:hover{
    border: 2px solid #a200ff;
    color: white;
    background-color: transparent;
    transition: .5s ease-in-out;

}

.bottom-right-section-details{
    padding: 0px;
    margin: 0px;
}

.bottom-right-section-details p{
    font-size: 1em;
    color: white;
    font-weight: bold;
    margin: 10px 0px 3px 0px;
}

.category-footer{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-calendar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.footer-calendar img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-calendar p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}

.footer-admin{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.footer-admin img{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.footer-admin p{
    font-size: .8em;
    color: white;
    font-weight: 300;
    margin: 5px 0px 5px 10px;
    padding: 0px;
}



.other-news{
    margin: 50px 0px ;
    padding: 0px;
    background-color: #dddddd;

}

.other-news-container{
    margin: 0px;
    padding: 0px;
    min-height: 120px;
    max-width: 1000px;
    margin: auto;

}

.content-container{
    display: flex;
    justify-content: space-between;
}

.news-content{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    /* max-width: 100px; */
    margin: 30px;
    margin-left: 3px;
}

.news-content img{
    max-height: 60px;
    padding-right: 10px;
    padding-top: 10px;

}

.text{
    margin: 0px;
    padding: 0px;
}

.text p{
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px 0px 5px 0px;
}

.ending-footer{
    padding: 0px;
    margin: 0px;
    display: block;
    width: 127px;
}

.ending-calendar{
    margin: 0px;
    padding: 0px;
    display: flex;
    /* justify-content: space-between; */
}

.ending-calendar img{
    width: 20px;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;

}

.ending-calendar p{
    color: #909090;
    margin: 0px;
    font-weight: 300;
    padding: 0px;

}

.ending-admin{
    margin: 0px;
    padding: 0px;
    display: flex;
    /* justify-content: space-between; */
}

.ending-admin img{
    width: 20px;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;


}

.ending-admin p{
    color: #909090;
    margin: 0px;
    font-weight: 300;
    padding: 0px;
}















/* .container{
    display: grid;
    margin: auto;
    padding: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    grid-column-gap: 30px;
}

.grid-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    grid-column-gap: 30px;
}

.col{
    min-height: 200px;
    background: #eeeeee;
} */