body {
    padding: 0px;
    margin: 0px;
    background: #444444;
}

.container{
    display: grid;
    margin: auto;
    padding: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    grid-column-gap: 30px;
}

.grid-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    grid-column-gap: 30px;
}

.col{
    min-height: 200px;
    background: #eeeeee;
}